body {
  overflow-x: hidden;
}

p {
  font-family: 'Crimson Text', serif;
  font-size: 18px;
}

h1,
h2 {
  font-family: 'Abril Fatface', cursive;
}

.carousel-inner p {
  font-family: 'Merriweather', serif;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  bottom: 220px;
}

.carousel-caption h5 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-family: 'Abril Fatface', cursive;
  color: #3DB2C7;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 20px;
  line-height: 1.9;
  font-family: 'Crimson Text', serif;
}

.carousel-item img {
  filter: brightness(60%);
}

.carousel-caption a {
  text-transform: uppercase;
  background: #262626;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;
}

.dropdown-toggle:after {
  display: none;
  /*remove the default caret icon on dropdown menu*/
}

.navbar {
  background-color: #333;
  height: 60px;
}
.navbar-nav a {
  font-family: poppins;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.dropdown-menu {
  background-color: #333;
}
a.dropdown-item {
  font-size: 14px;
  color: #fff !important;
}

a.dropdown-item:hover {
  background-color: transparent;
}

.navbar-light .navbar-brand {
  color: #3DB2C7;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Abril Fatface', cursive;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}
.searchBox {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #2f3640;
  height: 20px;
  border-radius: 40px;
  padding: 10px;

}

.searchBox:hover>.searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover>.searchButton {
  background: white;
  color: #2f3640;
}

.material-icons {
  font-size: 10px;
}

.searchButton {
  color: white;
  float: right;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}

@media screen and (max-width: 620px) {
  .searchBox:hover>.searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
div#navbarSupportedContent {
  margin-inline-start: 180px;
}

.w-100 {
  height: 100vh;
}

.home-content {
  margin: 0 50px;
}

.home-content>div p {
  justify-content: flex-start;
  text-align: justify;
  margin: 0 40px 40px 40px;
  font-size: 18px;
  font-family: poppins;
}

.home-about {
  max-width: 900px;
  margin: 20px auto 0 auto;
}

.columns {
  display: flex;
}

.col+.col {
  margin-left: 1.5em;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.from-right {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in,
    -webkit-transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.home-about h2,
.home-content h2 {
  color: #3DB2C7;
  margin: 40px 40px 10px 40px;
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  font-family: 'Abril Fatface', cursive;
  border-left: 7px solid #3DB2C7;
}

.home-about h3 {
  font-family: 'Bebas Neue', cursive;
  border-bottom: solid #3DB2C7;
}

.get-started-btn {
  justify-content: flex-start;
  margin-left: 60px;
}

.get-started-btn:hover {
  opacity: .8;
}

.get-started-btn button {
  border: none;
  background: #3DB2C7;
  color: #fff;
  font-size: 21px;
  justify-content: center;
  text-align: center;
  padding: 8px 10px;
  font-weight: bold;
}

.section-one,
.section-two {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px 0;
}

.section-one-img {
  grid-column: 1;
  grid-row: 1;
}

.section-one-img img {
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.section-one-text {
  grid-column: 2;
  grid-row: 1;
  color: #000;
  border-left: 20px solid #3DB2C7;
  margin: 0 20px;
  background-color: #E5E8E8;
}

.section-two-img {
  grid-column: 2;
  grid-row: 1;
  filter: brightness(70%);
  object-fit: cover
}

.section-two-img img {
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.section-two-text {
  grid-column: 1;
  grid-row: 1;
  color: #000;
  border-right: 20px solid #3DB2C7;
  margin: 0 20px;
  background-color: #E5E8E8;
}

.section-three {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section-three h2 {
  text-align: center;
  font-size: 18px;
  font-family: 'Crimson Text', serif;
  ;
  color: #f1f1f1;
  padding: 50px;
  margin: 15px;
  z-index: 1;
  opacity: 0.7;
  letter-spacing: 1px;
  line-height: 35px;
}

.section-three span {
  color: #3DB2C7;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 2px;
  line-height: 90px;
}

.section-three-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.section-three-color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111;
  width: 100%;
  height: 500px;
  opacity: 0.7;
}

.testimonials {
  margin: 40px 100px;
}

.testimonials-container p {
  text-align: center;
}

.testimonials h2 {
  text-align: center;
  font-weight: bold;
  color: #3DB2C7;
  padding-bottom: 10px;
}

.testimonials h2::after {
  content: '';
  background: #3DB2C7;
  display: block;
  height: 3px;
  width: 170px;
  margin: 7px auto 5px;
}

.testimonials .row {
  margin-top: 30px;
}

.col-md-4 {
  margin: 40px auto;
}

.profile {
  padding: 70px 10px 10px;
  background-color: #efefef;
}

.profile img {
  top: -60px;
  position: absolute;
  left: calc(50% - 60px);
  border: 10px solid white;
}

.user {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile h3 {
  font-size: 20px;
  margin-top: 15px;
  color: #3DB2C7;
}

.profile h3 span {
  color: #333;
  font-size: 14px;
}

blockquote {
  font-size: 18px;
  line-height: 30px;
}

blockquote::before {
  content: '“';
  font-size: 50px;
  position: relative;
  color: #3DB2C7;
  line-height: 20px;
  bottom: -15px;
  right: 5px;
}

blockquote::after {
  content: '”';
  font-size: 50px;
  position: relative;
  color: #3DB2C7;
  line-height: 10px;
  bottom: -15px;
  left: 5px;
}

.profile:hover {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}

.footer-top {
  background: #111;
  padding: 80px 0;
}

/*.footer-background-image {
  background: URL('/img/footer.jpg');
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
  background: no repeat center center scroll;
  -webkit-background size: cover;
  background-size: cover;
  z-index: 1;
}*/
footer .row p {
  color: #7F8C8D;
}

.segment-one h4 {
  font-family: 'Abril Fatface', cursive;
  color: #fff;
  letter-spacing: 3px;
  margin: 10px 0;
}

.segment-two h3 {
  color: #fff;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
}

.segment-two h3:before {
  content: '|';
  color: #3DB2C7;
  padding-right: 10px;
}

.segment-two ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.segment-two ul li {
  border-bottom: 1px solid #06B6D5;
  line-height: 25px;
}

.segment-two ul li a {
  color: #fff;
  text-decoration: none;
}

.segment-two ul li a:hover {
  color: #3DB2C7;
}

.segment-three h3 {
  color: #fff;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
}

.segment-three h3:before {
  content: '|';
  color: #3DB2C7;
  padding-right: 10px;
}

.segment-three a {
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

.segment-three a i {
  font-size: 20px;
  color: #fff;
  padding: 10px 12px;
}

.segment-four h3 {
  color: #fff;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
}

.segment-four h3:before {
  content: '|';
  color: #3DB2C7;
  padding-right: 10px;
}

.segment-four form {
  display: grid;
  grid-template-columns: 65% 35%;
}

.segment-four form input[type=email] {
  grid-column: 1;
  grid-row: 1;
}

.segment-four form input[type=submit] {
  grid-column: 2;
  grid-row: 1;
  background: #3DB2C7;
  border: none;
  padding: 3px 9px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

input[type=submit]:hover {
  opacity: .8;
}

.footer-bottom-text {
  text-align: center;
  background: #000;
  line-height: 50px;
}

/* Profile pages */
.userProfile {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 60px 0 0 40px;
}

.profileNav {
  grid-column: 1;
  grid-row: 1;
  height: 400px;
  background-color: #efefef;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  width: 240px;
  justify-content: center;
}
.profileNavClickable {
  cursor: pointer;
}
.userHeader {
  border-radius: 50%;
  border: 1px solid #000;
  height: 150px;
  width: 150px;
  align-self: center;
  margin: 20px 0 0 0;
  padding: 0;
}

.userHeader img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: brightness(60%);
}

.userNav {
  padding: 0;
}

.usernav, ul {
  list-style: none;
  padding-left: 60px;
}

.usernav,ul li {
  padding: 5px 0;
}
.sideheaders {
  font-family: 'Abril Fatface',cursive;
}
.profileDetails {
  grid-column: 2;
  grid-row: 1;
  margin-left: 10px;
  background-color: #efefef;
  padding: 30px 0px 0 60px;
}

.profile-head h5 {
  color: #333;
}

.profile-head h6 {
  color: #3DB2C7;
}

.profile-edit-btn {
  border: none;
  border-radius: 1.5rem;
  width: 30%;
  padding: 2%;
  background-color: #56b2dd;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-left: 260px;
}
.profile-sub-headers {
  margin: 10px 0;
  font-weight: bold;
}

.profile-head .nav-tabs {
  margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}

.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #3DB2C7;
}

.profile-tab label {
  font-weight: 600;
}

.profile-tab p {
  font-weight: 600;
  color: #3DB2C7;
}
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
  }
  .navbar {
    width: 768px;
  }

  .navbar-nav.ml-auto {
    background: #00000080;
  }

  .navbar toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
    background: #fff;
  }

  .sm-mb-30 {
    margin-bottom: 30px;
  }

  .footer-top {
    padding: 50px 0;
  }
  .profileNav {
    height: 300px;
    justify-content: center;
  }

  .userHeader {
    height: 100px;
    width: 100px;
    margin: 20px 0 0 0;
  }

  .userHeader img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: brightness(60%);
  }

  .userNav {
    margin: 0 0 0 0;
    padding: 0 0 0 30px;
  }

  .userProfile {
    grid-template-columns: 30% 70%;
    margin-left: 30px;
  }

  .usernav, ul {
    padding: 0;
  }

  .sideheaders {
    margin: 0;
  }

  .profile-edit-btn {
    width: 60%;
    margin-left: 60px;
  }

  .userProfile {
    grid-column-gap: 10px;
    overflow-x: hidden;
  }
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
    background-color: #333;
    /* background: rgba(255, 255, 255, 0.8); */
    /*rgba(121, 124, 124, 0.8)*/
  }

  .md-mb-30 {
    margin-bottom: 30px;
  }
}

/*investors and entrepreneur pages*/
.investor-header {
  height: 60vh;
  min-height: 300px;
  background: no repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.investor-header img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(60%);
}

.nav-scrolled {
  background-color: #333;
}

.investor-quote {
  padding: 40px 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f1f1f1;
  height: 300px;
  display: grid;
  grid-template-columns: 10% 60% 5% 25%;
}

.investor-quote h3 {
  text-align: center;
  grid-column: 2;
  grid-row: 2;
}

.investor-quote i.fa.fa-quote-left {
  display: flex;
  font-size: 50px;
  padding-left: 50px;
  color: grey;
  grid-column: 1;
  grid-row: 1;
}

.investor-quote i.fa.fa-quote-right {
  font-size: 50px;
  color: grey;
  float: right;
  grid-column: 3;
  grid-row: 3;
}

.investor-quote h4 {
  grid-column: 4;
  grid-row: 4;
}

.category-content {
  margin: 0 100px;
  background-color: #E5E8E8;
}

.row-one,
.row-two {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
}

.row-one {
  padding-top: 30px;
}

.row-two {
  padding-bottom: 30px;
}

.grid-one-one {
  grid-column: 1;
  grid-row: 1;
}

.grid-one-two {
  grid-column: 2;
  grid-row: 1;
}

.grid-one-three {
  grid-column: 3;
  grid-row: 1;
}

.grid-two-one {
  grid-column: 1;
  grid-row: 2;
}

.grid-two-two {
  grid-column: 2;
  grid-row: 2;
}

.grid-two-three {
  grid-column: 3;
  grid-row: 2;
}

/*About page*/
.about-header {
  height: 100vh;
  width: 100%;
  position: relative;
}

.about-header-img {
  position: absolute;
  height: 100vh;
  width: 100%;
  min-height: 300px;
  background: no repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.about-header-img img {
  height: 100vh;
  width: 100%;
}

.about-header-text {
  height: 100vh;
  margin: 0 300px 0 150px;
  position: absolute;
}

.about-header-text h2 {
  margin-top: 350px;
  text-align: left;
  ;
  border-left: 12px solid #3DB2C7;
  padding-left: 20px;
}

#founder-title {
  color: #3DB2C7;
  margin: 40px 40px 10px 100px;
  text-align: left;
  padding-left: 20px;
  font-weight: bold;
  font-family: 'Abril Fatface', cursive;
  border-left: 7px solid #3DB2C7
}

.about-header-text p {
  text-align: left;
  padding-left: 38px;
  padding-right: 100px;
}

.about-body {
  margin: 20px 100px;
  padding: 40px 20px;
  background: #f1f1f1;
  display: grid;
  grid-template-columns: 200px;
  grid-auto-rows: 200px;

}

.about-body div:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  height: 300px;
  width: 400px;
}

.about-body div:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  height: 300px;
  width: 400px;
}

.about-body div:nth-child(3) {
  grid-column: 4;
  grid-row: 2;
  height: 400px;
  width: 400px;
}

.about-body-image1 img {
  height: 100%;
  width: 100%;
}

.about-body-image2 img {
  height: 100%;
  width: 100%;
  opacity: .96;
}

.about-body-text {
  grid-column: 4;
  grid-row: 2;
  justify-content: center;
  text-align: center;
}

i.fa.fa-quote-left {
  float: left;
  padding: 0 2px;
}

.about-body-text p {
  padding-left: 20px;
}

.about-body-founder {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 40px 100px;
}

.founder-img {
  grid-column: 2;
  grid-row: 1;
  height: 300px;
  width: 300px;
  margin-left: 200px;
}

.founder-img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  filter: brightness(60%);
}

.founder-text {
  grid-column: 1;
  grid-row: 1;
}

.founder-text p {
  text-align: center;
  margin: 0;
  padding: 0 20px;
}

.founder-text i.fa.fa-quote-left {
  font-size: 50px;
}

.founder-text i.fa.fa-quote-right {
  font-size: 50px;
  float: right;

}

/* Root Container */
.root-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-controller {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 24em;
  min-width: 21em;
  height: 35px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  margin-bottom: 30px;
  align-items: center;
  transition: visibility 0.5s ease-out;
}

.controller {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: 2;
  cursor: pointer;
}

/* Currently Selected Controller */
.selected-controller {
  transition: border 0.5s ease-out;
  border-bottom: 2px solid #06B6D5;
}

.box-container {
  display: flex;
  flex-direction: column;
  max-width: 24em;
  min-width: 21em;
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  border-radius: 6px;
  padding: 24px;
}

.inner-container {
  transition: visibility 0.2s ease-out;
}

.inner-container.show {
  visibility: visible;
}
.login {
  margin-top: 0;
}
/* Header */
.header {
  text-align: center;
  padding: 5px;
  margin-bottom: 17px;
  /* margin-left: 35px; */
  /* margin-right: 35px; */
  font-family: Oxygen, sans-serif;
  font-size: 22px;
  border-bottom: 2px solid #06B6D5;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Label */
.login-label {
  font-family: Oxygen, sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-left: 5px;
}
.input-group label {
  width: 100%;
}

/* Input */
.input-group input {
  height: 2.1em;
  border-radius: 3px;
  border: 1px solid #06B6D5;
  transition: border 0.4s ease-out;
  padding: 13px;
  font-family: Oxygen, sans-serif;
  font-size: 19px;
  color: #3e3e42;
  background: rgba(15, 15, 15, 0.01);
  width: 100%;
  outline: antiquewhite;
}
.input-group input.error {
  border: 1px solid red;
}

.input-group input:hover {
  border: 2px solid #06B6D5;
}

.input-group input:focus {
  border: 2px solid #06B6D5;
  box-shadow: 0px 0px 20px hsla(0, 0%, 6%, 0.2);
}
.name-control {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 13px;
  width: 100%;
  max-width: 24em;
  min-width: 21em;
}

.firstName {
  grid-column: 1;
  grid-row: 1;
}

.lastName {
  grid-column: 2;
  grid-row: 1;
}

/* Input Placeholder */
.login-input::placeholder {
  font-family: Oxygen, sans-serif;
  font-size: 16px;
  color: rgba(46, 213, 116, 0.839);
  color: rgba(15, 15, 15, 0.4);
}

.login-btn {
  padding: 2px 30px;
  background: #3DB2C7;
  border: 2px solid #3DB2C7;
  font-size: 16px;
  color: #fff;
  border-radius: 3px;
  margin-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
  opacity: .8;
}
.login-btn:active {
  transform: scale(0.95);
}
.danger-error {
  color: #e74c3c;
  font-size: 16px;
}

/* Password */
.password-state {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.pwd {
  height: 6px;
  flex: 1;
  visibility: hidden;
}

.pwd-weak {
  background-color: #e74c3c;
}

.pwd-medium {
  background-color: #dbd834;
}

.pwd-strong {
  background-color: #27ac5e;
}

.show {
  visibility: visible;
}